/* Global Styles */
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Arial', sans-serif;
    background-color: #F7EFE5;
    color: #674188;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column; /* Permet d'organiser les sections verticalement */
}

/* Header */
header {
    background-color: #674188;
    padding: 25px 0;
    position: sticky;
    top: 0;
    z-index: 1000;
}

header nav {
    text-align: center;
}

header nav a {
    text-decoration: none;
    color: #F7EFE5;
    margin: 0 15px;
    font-weight: bold;
    font-size: 16px;
    transition: color 0.3s ease-in-out;
}

header nav a:hover {
    color: #C8A1E0;
}

/* About Section */
.container {
    padding: 40px 20px;
}

.section {
    max-width: 800px;
    margin: 0 auto;
    background-color: #ffffff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1, h2 {
    color: #674188;
}

h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

h2 {
    font-size: 1.8rem;
    margin-top: 30px;
}

p {
    font-size: 1.2rem;
    line-height: 1.6;
    margin-bottom: 20px;
}

/* Skills Section */
ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    list-style-type: none;
    padding: 0;
    margin: 20px 0;
}

ul li {
    margin-bottom: 20px;
    width: 150px; /* Taille fixe pour chaque plaque */
    height: 150px; /* Taille fixe */
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    background-color: #E2BFD9;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1); /* Ombre autour de chaque plaque */
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    transform: scale(1); /* Taille initiale */
}

/* Hover Effect for Skill Cards */
ul li:hover {
    transform: scale(1.1); /* Agrandissement de la carte */
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.2); /* Ombre plus marquée */
    background-color: #C8A1E0; /* Changement de couleur de fond */
}

ul li i {
    font-size: 3rem;
    color: #674188;
    transition: color 0.3s ease-in-out;
}

/* Hover Effect for Icons Inside Cards */
ul li:hover i {
    color: #F7EFE5; /* Changement de couleur de l'icône au survol */
}

/* Footer */
footer {
    background-color: #674188;
    color: #F7EFE5;
    text-align: center;
    padding: 20px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}

footer h6 {
    margin: 0 0 10px 0;
    font-size: 1.2rem;
    font-weight: bold;
}

footer .social-links {
    display: flex;
    justify-content: center;
    gap: 15px;
}

footer .social-links i {
    font-size: 1.5rem;
    color: #F7EFE5;
    transition: color 0.3s ease-in-out, transform 0.2s;
}

footer .social-links i:hover {
    color: #C8A1E0;
    transform: scale(1.2);
}
